
version: "3.9"
services:
  trainer:
    build: .
    container_name: ai_trainer
    shm_size: "16gb" 
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - ./:/workspace
    command: >
      bash -c "
      uv run train.py -d dataset -save_path new_output -e 10000 -n 4
      "
